scikit-learn==1.2.2
pandas==1.5.3
dataprep==0.4.5
plotly==5.15.0
xgboost
lazypredict==0.2.12
lightgbm
notebook
numpy==1.25.2
gama==23.0.0
lazypredict==0.2.12
jupyter
fastapi
pydantic
starlette
uvicorn
catboost
requests
tabulate
urllib3==1.26.7
pytest